@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

<div class="nav-scrollable @(collapseNavMenu ? "collapse" : "")">
    <nav class="nav flex-column" @onclick="ToggleNavMenu">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/worklog/my">
                <span class="bi bi-clock-history" aria-hidden="true"></span> Le mie attività
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/worklog">
                <span class="bi bi-people" aria-hidden="true"></span> WorkLog (tutti)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/projects">
                <span class="bi bi-folder2-open" aria-hidden="true"></span> Progetti
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/companies">
                <span class="bi bi-building" aria-hidden="true"></span> Aziende
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile">
                <span class="bi bi-person-circle" aria-hidden="true"></span> Profilo
            </NavLink>
        </div>
    </nav>
</div>